# Public hostname for Traefik / Let's Encrypt (parent docker-compose.yml)
APP_DOMAIN=localhost.prijedlog.com
ACME_EMAIL=example@gmail.com

POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
